<a href="https://colab.research.google.com/github/PrajnyaKulkarni/Assignments/blob/main/Python_revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Print statement
print("Hi!My name is Prajnya")

Hi!My name is Prajnya

Keywords are predefined, reserved words used in Python programming
that have special meanings to the compiler. For example : if, else, True, None etc.,

Identifiers : Name given to the variable

Variables : Containers to store the data
Eg : number = 10 = Number is the variable holding the value 10

In [ ]:
number = 10
print(number)

10

In [ ]:
a, b, c = 5,3.2, "Hello"
print(a,b,c)

5 3.2 Hello

* Numeric:	int, float, complex	:holds numeric values
* String:	str	:holds sequence of characters
* Sequence:	list, tuple, range	:holds collection of items
* Mapping:	dict	:holds data in key-value pair form
* Boolean:	bool	:holds either True or False
* Set:	set, frozeenset	:hold collection of unique items

In [ ]:
num = 10
type(num)

int

In [ ]:
A = 1

In [ ]:
D = 1

In [ ]:
A

1

In [ ]:
D

1

In [ ]:
A = 1

In [ ]:
A = 2

In [ ]:
A

2

Accessing the list

In [ ]:
languages = ["Swift", "Java", "Python","Java"]
languages[-1]

'Java'

Removing duplicates using set

In [ ]:
languages = set(languages)

In [ ]:
languages

{'Java', 'Python', 'Swift'}

Find the max value in the following list

In [ ]:
a = [8,0,3,-5]

In [ ]:
max_val = a[0]
for i in a:
  if i>max_val:
    max_val = i
print(max_val)

8

In [ ]:
b = [0,1,2,3]

In [ ]:
max_val = b[0]
for i in b:
  if i>max_val:
    max_val = i
print(max_val)

3

In [ ]:
max_val = b[0]
for i in b:
  if i>max_val:
    max_val = i
print(max_val)

3

Implement rock paper scissor game using loops

In [ ]:
import random
print("Welcome to the Rock, Paper, Scissor game!")

options = ['rock','paper','scissor']
AI_choice = random.choice(options)
Human_choice = input("Please choose between rock, paper and scissor:")

print("your choice:",Human_choice)
print("Computer's choice:",AI_choice)

Human_choice = Human_choice.lower()

if Human_choice not in options:
  print("Invalid input!Choose between rock, paper and scissor")
else:
  if Human_choice == AI_choice:
    print("It's a tie")
  else:
    if Human_choice == 'scissor':
      if AI_choice == 'paper':
        print("You win!Scissor cuts paper!")
      else:
          print("You lose!Rock crushes scissor")
    elif Human_choice == 'rock':
      if AI_choice == 'paper':
        print("You lose!Paper covers the rock")
      else:
        print("You win!Rock crushes scissor")
    else:
      if AI_choice == 'scissor':
        print("You lose! Scissor cuts the paper")
      else:
        print("You win!Rock covers the paper")

Welcome to the Rock, Paper, Scissor game!
Please choose between rock, paper and scissor:rock
your choice: rock
Computer's choice: scissor
You win!Rock crushes scissor

### Note: We can use dictionary to replace multiple if else conditions.

In [ ]:
import random

print("Welcome to the Rock, Paper, Scissor game!")

options = ['rock', 'paper', 'scissor']
rounds = int(input("Enter the number of rounds: "))
human_score = 0
computer_score = 0

while rounds > 0:
    AI_choice = random.choice(options)
    Human_choice = input("Please choose between rock, paper, and scissor:").lower()

    print("Your choice:", Human_choice)
    print("Computer's choice:", AI_choice)

    if Human_choice not in options:
        print("Invalid input! Choose between rock, paper, and scissor")
    else:
        outcomes = {
            ('rock', 'scissor'): "You win! Rock crushes scissor",
            ('scissor', 'paper'): "You win! Scissor cuts paper",
            ('paper', 'rock'): "You win! Paper covers the rock",
            ('scissor', 'rock'): "You lose! Rock crushes scissor",
            ('paper', 'scissor'): "You lose! Scissor cuts paper",
            ('rock', 'paper'): "You lose! Paper covers the rock",
        }

        if Human_choice == AI_choice:
            print("It's a tie")
        else:
            outcome = outcomes.get((Human_choice, AI_choice))
            print(outcome)
            if "You win" in outcome:
                human_score += 1
            else:
                computer_score += 1

        rounds -= 1

print("Game over!")
print(f"Human Score: {human_score}")
print(f"Computer Score: {computer_score}")

Welcome to the Rock, Paper, Scissor game!
Enter the number of rounds: 2
Please choose between rock, paper, and scissor:scissor
Your choice: scissor
Computer's choice: rock
You lose! Rock crushes scissor
Please choose between rock, paper, and scissor:rock
Your choice: rock
Computer's choice: rock
It's a tie
Game over!
Human Score: 0
Computer Score: 1

Using while loop to start and stop a game/ loop

In [ ]:
while input("Do you want to play the game? [yes/no]:").lower() == "yes":
  print("Let's start!")

Do you want to play the game? [yes/no]:no

## Intersection of Lists

In [ ]:
# example list for common elements finding program
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1,1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [ ]:
b in a

False

In [ ]:
for x in b:
  if x in a:
    print(x)

1
1
2
3
5
8
13

In [ ]:
list_intersection = [x for x in b if x in a]
list_intersection

[1, 1, 2, 3, 5, 8, 13]

In [ ]:
# example list for common elements finding program
c = [1, 1, 2,2, 3, 5, 8, 13, 21, 34, 55, 89]
d = [1, 1, 2,2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [ ]:
l3 = []
[l3.append(x) for x in d if x in c if x not in l3]
l3

[1, 2, 3, 5, 8, 13]

In [ ]:
u = [1,2,3,4,5,5]
v = [2,3,5,6,4,4]
w=[]
[w.append(x) for x in v if x in u if x not in w]
w

[2, 3, 5, 4]

In [ ]:
a = [1,2,3,4,5]
for x in a:
  if x==2:
    continue
  print(x)

1
3
4
5

## Pattern printing

In [ ]:
star_string = '****'
x=0
for i in star_string:
  x=x+1
  print(star_string[0:x])

*
**
***
****

Here, we use the slicing method.At first, x = 0. Then it is increased by 1 and the print function prints the string in 0th index. as the x gets increased, number of stars printed will be increased by one.

In [ ]:
for i in range(1,5):
  for j in range(i):
    print('*',end='')
  print("")

*
**
***
****

It is nested for statement where i takes care of verticle dimension and j takes care of horizontal dimension.

Here if i = 1, for j = 1, it prints 1 and then go to the next line. When j =2, it prints 2 two times and so on

In [ ]:
for i in range(1,5):
  for j in range(i):
    print('*')
  print("")

*

*
*

*
*
*

*
*
*
*

In [ ]:
for i in range(0,5):
  for j in range(0,i+1):
    print("* ",end="")
  print("")

*
* *
* * *
* * * *
* * * * *

In [ ]:
for i in range(0,5,1):
  for j in range(4,i-1,-1):
    print("*",end=" ")
  print("  ")

* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range(5,0,-1):
  for j in range(5,i-1,-1):
    print("*")
  print("")

*

*
*

*
*
*

*
*
*
*

*
*
*
*
*

In [ ]:
for i in range(1,5):
  print('* '*i)

*
* *
* * *
* * * *

In [ ]:
for i in range(4,0,-1):
  print("* "*i)

* * * *
* * *
* *
*

In [ ]:
for i in range

SyntaxError: ignored

In [ ]:
List1 = [1,1,2,3,3]
List2 = [3,3,2,1,1,4]

# String task

In [ ]:
given_string = "The quick brown fox jumps over the lazy dog."

## 1. Break down the sentence into the words and save it in a list

**The split() function works by scanning the given string or line based on the separator passed as the parameter to the split() function. In case the separator is not passed as a parameter to the split() function, the white spaces in the given string or line are considered as the separator by the split() function.**

In [ ]:
string_list = given_string.split()
string_list

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog.']

In [ ]:
string_list[1]

'quick'

## 2.Count the words in the given string

In [ ]:
len(string_list)

9

## 3. Count the number of characters in the string

In [ ]:
len(given_string)

44

## 4. Make first letter of each word capital

In [ ]:
given_string.title()

'The Quick Brown Fox Jumps Over The Lazy Dog.'

In [ ]:
import string
name = "god's plan is good"
string.capwords(name)

"God's Plan Is Good"

In [ ]:
name2 = "prajnya*infokalash here"
name2.title()

'Prajnya*Infokalash Here'

## 5. Print all the unique letters present in the given string

In [ ]:
new_string = []
for i in given_string.casefold():
  if i.isalpha() == True and i not in new_string:
    new_string.append(i)
print(new_string)
print(len(new_string))
print(sorted(new_string))

['t', 'h', 'e', 'q', 'u', 'i', 'c', 'k', 'b', 'r', 'o', 'w', 'n', 'f', 'x', 'j', 'm', 'p', 's', 'v', 'l', 'a', 'z', 'y', 'd', 'g']
26
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [ ]:
var = sorted(new_string)
print(var)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [ ]:
sorted(['the','hello'],reverse=True)

['the', 'hello']

In [ ]:
Quote = "Food is good here."
unique_let = []
for i in Quote.lower():
  if i.isalpha() == True and i not in unique_let:
    unique_let.append(i)

print(unique_let)
print(len(unique_let))
print(sorted(unique_let))

['f', 'o', 'd', 'i', 's', 'g', 'h', 'e', 'r']
9
['d', 'e', 'f', 'g', 'h', 'i', 'o', 'r', 's']

## 6. Save a word in a variable, replace any one of the letter into another

In [ ]:
word_1 = string_list[1]
word_1[3]

'c'

In [ ]:
word_1[3] = 'd'

TypeError: ignored

In [ ]:
word_1.replace('c','d')

'quidk'

In [ ]:
given_string.replace('o','a')

'The quick brawn fax jumps aver the lazy dag.'

In [ ]:
given_string.replace('o','a',1)

'The quick brawn fox jumps over the lazy dog.'

In [ ]:
given_string

'The quick brown fox jumps over the lazy dog.'

In [ ]:
given_string.replace('lazy','weak')

'The quick brown fox jumps over the weak dog.'

## 7. If a word contains odd no. of letters, then change the first letter into the capital. Else print the word

In [ ]:
words_with_even_no_of_letters = []
words_with_odd_no_of_letters=[]
for x in string_list:
  if len(x)%2 == 0:
    words_with_even_no_of_letters.append(x)
  else:
    words_with_odd_no_of_letters.append(x.capitalize())
print(words_with_even_no_of_letters)
print(words_with_odd_no_of_letters)

['over', 'lazy', 'dog.']
['The', 'Quick', 'Brown', 'Fox', 'Jumps', 'The']

In [ ]:
#With user control
print("Please enter a number between 0 to 9 to guess the number or press exit to leave the game")

import random
secret_number = random.randint(0,9)  #randint is inclusive of maximum number

count = 0
while True:
  user_input = input()

  if user_input.lower() == 'exit':
    print("Thanks for playing the game!The secret number was ",secret_number)
    break
  elif user_input.isalpha():
    print("invalid input! please select the number in the range 0 to 9")
    #continue
  else:
    user_input = int(user_input)
    count+=1
    if user_input not in range(0,10): #range is exclusive of max number
      print("Invalid input!Please choose the number in the range 0 to 9")
    else:
      if user_input == secret_number:
        print("Well done!It's a correct number, you took {} iterations to guess the correct number".format(count))
        break
      elif secret_number > user_input:
        print("My number is bigger than", user_input)
      else:
        print("My number is lesser than",user_input)

Please enter a number between 0 to 9 to guess the number or press exit to leave the game
exit
Thanks for playing the game!The secret number was  8

In [ ]:
#Without user control
print("Please enter a number between 0 to 9 to guess the number")

import random
secret_number = random.randint(0,9)  #randint is inclusive of maximum number

count = 0
while True:
  user_input = input()

  if user_input.isalpha():
    print("invalid input! please select the number in the range 0 to 9")
    #continue
  else:
    user_input = int(user_input)
    count+=1
    if user_input not in range(0,10): #range is exclusive of max number
      print("Invalid input!Please choose the number in the range 0 to 9")
    else:
      if user_input == secret_number:
        print("Well done!It's a correct number, you took {} iterations to guess the correct number".format(count))
        break
      elif secret_number > user_input:
        print("My number is bigger than", user_input)
      else:
        print("My number is lesser than",user_input)

Please enter a number between 0 to 9 to guess the number or press exit to leave the game
2
My number is bigger than 2
4
My number is bigger than 4
6
Well done!It's a correct number, you took 3 iterations to guess the correct number

In [ ]:
import random

In [ ]:
secret_num2 = random.randint(0,10)
secret_num2

3

In [ ]:
count1 = 0
count1+=1

In [ ]:
count1

1

In [ ]:
try:
  x = int(input())
except:
  print("invalid input")

4

In [ ]:
name = "A"
name.isalpha()

True

# Unit testing in Python

In [ ]:
"""Example of writing a test subject"""
def sum(xs: list[float]) -> float:
  """Compute the sum of a list."""
  return -1.0

In [ ]:
sum([1.0,2.0,3.0])

-1.0

In [ ]:
sum([])

-1.0

In [ ]:
# Addition operator for string data type gives the concatenated string
a : str = "5"
b : str = "3"
print(a + b)

53

In [ ]:
#Multiplication of integers gives the product of two numbers
num1 : int = 100
num2 : int = 2
print(num1*num2)

200

In [ ]:
"lo" + ("l"*100)

'lollllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll'

In [ ]:
a = 100
b = "ab"
a+b

TypeError: ignored

In [ ]:
a = "100"
b = "2"

In [ ]:
a/b

TypeError: ignored

In [ ]:
a = 100
b = 3
print(a/b)
print(a//b)

33.333333333333336
33

In [ ]:
c = 10.3

print(c//b)

3.0

In [ ]:
print(c/b)

3.4333333333333336

In [ ]:
x = 5
y = 3
x ==y

False

In [ ]:
x <=y

False

In [ ]:
x >=y

True

In [ ]:
x!= y

True

In [ ]:
sky = "dark"
if sky != "light":
	print("It's night already!")

It's night already!

In [ ]:
is_rainy = input("Enter True if there is rain. Otherwise enter false:\n")
if is_rainy != False:
  print("Take the raincoat or umbrella")

Enter True if there is rain. Otherwise enter false:

Take the raincoat or umbrella

In [ ]:
shop_is_closed = False #if shop is closed, set it to true
if not shop_is_closed:
  print("The shop is open! Welcome any time!!")

The shop is open! Welcome any time!!

In [ ]:
age = int(input("Enter your age:"))
has_vip_pass = True  #change it to false if you don't have

if age >= 18 and has_vip_pass:
  print("Welcome to the party! Enjoy your time!!")
else:
  print("Sorry, you can not enter the party!")

Enter your age:25
Welcome to the party! Enjoy your time!!

In [ ]:
# Get user input for weather conditions
#We will learn about .lower() in furthur chapters
is_raining = input("Is it raining? (yes or no): ").lower()
is_windy = input("Is it windy? (yes or no): ").lower()

# Check if it's suitable to bring an umbrella using the OR operator
if is_raining == "yes" or is_windy == "yes":
    print("Bring an umbrella with you!")
else:
    print("You don't need an umbrella today.")

Is it raining? (yes or no): yes
Is it windy? (yes or no): No
Bring an umbrella with you!

In [5]:
story : str = """ In a quaint town nestled between rolling hills,there lived a young girl named Lily,
who possessed a unique ability to communicate with animals. One day, as she wandered into the
forest, she discovered a wounded fox. With gentle hands and kind words, she nursed the creature back to health.
In gratitude, the fox led Lily to a hidden grove where a magical tree stood, its leaves shimmering with an ethereal light.
The tree, ancient and wise, granted Lily a single wish. She wished for the well-being of all creatures, and in an instant,
the entire town flourished with harmony. Lily's kindness had not only healed the wounded fox but had also brought peace to
the hearts of all living beings in her magical town."""

In [6]:
print(story)

 In a quaint town nestled between rolling hills,there lived a young girl named Lily,
who possessed a unique ability to communicate with animals. One day, as she wandered into the
forest, she discovered a wounded fox. With gentle hands and kind words, she nursed the creature back to health.
In gratitude, the fox led Lily to a hidden grove where a magical tree stood, its leaves shimmering with an ethereal light.
The tree, ancient and wise, granted Lily a single wish. She wished for the well-being of all creatures, and in an instant,
the entire town flourished with harmony. Lily's kindness had not only healed the wounded fox but had also brought peace to
the hearts of all living beings in her magical town.

In [7]:
story_vocab : list[str] = story.lower().split()

In [8]:
print(story_vocab)

['in', 'a', 'quaint', 'town', 'nestled', 'between', 'rolling', 'hills,there', 'lived', 'a', 'young', 'girl', 'named', 'lily,', 'who', 'possessed', 'a', 'unique', 'ability', 'to', 'communicate', 'with', 'animals.', 'one', 'day,', 'as', 'she', 'wandered', 'into', 'the', 'forest,', 'she', 'discovered', 'a', 'wounded', 'fox.', 'with', 'gentle', 'hands', 'and', 'kind', 'words,', 'she', 'nursed', 'the', 'creature', 'back', 'to', 'health.', 'in', 'gratitude,', 'the', 'fox', 'led', 'lily', 'to', 'a', 'hidden', 'grove', 'where', 'a', 'magical', 'tree', 'stood,', 'its', 'leaves', 'shimmering', 'with', 'an', 'ethereal', 'light.', 'the', 'tree,', 'ancient', 'and', 'wise,', 'granted', 'lily', 'a', 'single', 'wish.', 'she', 'wished', 'for', 'the', 'well-being', 'of', 'all', 'creatures,', 'and', 'in', 'an', 'instant,', 'the', 'entire', 'town', 'flourished', 'with', 'harmony.', "lily's", 'kindness', 'had', 'not', 'only', 'healed', 'the', 'wounded', 'fox', 'but', 'had', 'also', 'brought', 'peace', 'to', 'the', 'hearts', 'of', 'all', 'living', 'beings', 'in', 'her', 'magical', 'town.']

In [9]:
len(story_vocab)

124

In [10]:
story_dict : dict = {}
for word in story_vocab:
  if word in story_dict:
    story_dict[word] +=1
  else:
    story_dict[word] = 1

print(story_dict)

{'in': 4, 'a': 7, 'quaint': 1, 'town': 2, 'nestled': 1, 'between': 1, 'rolling': 1, 'hills,there': 1, 'lived': 1, 'young': 1, 'girl': 1, 'named': 1, 'lily,': 1, 'who': 1, 'possessed': 1, 'unique': 1, 'ability': 1, 'to': 4, 'communicate': 1, 'with': 4, 'animals.': 1, 'one': 1, 'day,': 1, 'as': 1, 'she': 4, 'wandered': 1, 'into': 1, 'the': 8, 'forest,': 1, 'discovered': 1, 'wounded': 2, 'fox.': 1, 'gentle': 1, 'hands': 1, 'and': 3, 'kind': 1, 'words,': 1, 'nursed': 1, 'creature': 1, 'back': 1, 'health.': 1, 'gratitude,': 1, 'fox': 2, 'led': 1, 'lily': 2, 'hidden': 1, 'grove': 1, 'where': 1, 'magical': 2, 'tree': 1, 'stood,': 1, 'its': 1, 'leaves': 1, 'shimmering': 1, 'an': 2, 'ethereal': 1, 'light.': 1, 'tree,': 1, 'ancient': 1, 'wise,': 1, 'granted': 1, 'single': 1, 'wish.': 1, 'wished': 1, 'for': 1, 'well-being': 1, 'of': 2, 'all': 2, 'creatures,': 1, 'instant,': 1, 'entire': 1, 'flourished': 1, 'harmony.': 1, "lily's": 1, 'kindness': 1, 'had': 2, 'not': 1, 'only': 1, 'healed': 1, 'but': 1, 'also': 1, 'brought': 1, 'peace': 1, 'hearts': 1, 'living': 1, 'beings': 1, 'her': 1, 'town.': 1}

In [11]:
story_dict.items()

dict_items([('in', 4), ('a', 7), ('quaint', 1), ('town', 2), ('nestled', 1), ('between', 1), ('rolling', 1), ('hills,there', 1), ('lived', 1), ('young', 1), ('girl', 1), ('named', 1), ('lily,', 1), ('who', 1), ('possessed', 1), ('unique', 1), ('ability', 1), ('to', 4), ('communicate', 1), ('with', 4), ('animals.', 1), ('one', 1), ('day,', 1), ('as', 1), ('she', 4), ('wandered', 1), ('into', 1), ('the', 8), ('forest,', 1), ('discovered', 1), ('wounded', 2), ('fox.', 1), ('gentle', 1), ('hands', 1), ('and', 3), ('kind', 1), ('words,', 1), ('nursed', 1), ('creature', 1), ('back', 1), ('health.', 1), ('gratitude,', 1), ('fox', 2), ('led', 1), ('lily', 2), ('hidden', 1), ('grove', 1), ('where', 1), ('magical', 2), ('tree', 1), ('stood,', 1), ('its', 1), ('leaves', 1), ('shimmering', 1), ('an', 2), ('ethereal', 1), ('light.', 1), ('tree,', 1), ('ancient', 1), ('wise,', 1), ('granted', 1), ('single', 1), ('wish.', 1), ('wished', 1), ('for', 1), ('well-being', 1), ('of', 2), ('all', 2), ('creatures,', 1), ('instant,', 1), ('entire', 1), ('flourished', 1), ('harmony.', 1), ("lily's", 1), ('kindness', 1), ('had', 2), ('not', 1), ('only', 1), ('healed', 1), ('but', 1), ('also', 1), ('brought', 1), ('peace', 1), ('hearts', 1), ('living', 1), ('beings', 1), ('her', 1), ('town.', 1)])

In [12]:
type(story_dict.items())

dict_items

In [ ]:
story_dict.items()[0]

TypeError: ignored

In [ ]:
list(story_dict.items())[0]

('in', 4)

In [ ]:
list(story_dict.items())[0][0]

'in'

In [15]:
for i in story_dict.items():
  print(i)
  print(i[1])

('in', 4)
4
('a', 7)
7
('quaint', 1)
1
('town', 2)
2
('nestled', 1)
1
('between', 1)
1
('rolling', 1)
1
('hills,there', 1)
1
('lived', 1)
1
('young', 1)
1
('girl', 1)
1
('named', 1)
1
('lily,', 1)
1
('who', 1)
1
('possessed', 1)
1
('unique', 1)
1
('ability', 1)
1
('to', 4)
4
('communicate', 1)
1
('with', 4)
4
('animals.', 1)
1
('one', 1)
1
('day,', 1)
1
('as', 1)
1
('she', 4)
4
('wandered', 1)
1
('into', 1)
1
('the', 8)
8
('forest,', 1)
1
('discovered', 1)
1
('wounded', 2)
2
('fox.', 1)
1
('gentle', 1)
1
('hands', 1)
1
('and', 3)
3
('kind', 1)
1
('words,', 1)
1
('nursed', 1)
1
('creature', 1)
1
('back', 1)
1
('health.', 1)
1
('gratitude,', 1)
1
('fox', 2)
2
('led', 1)
1
('lily', 2)
2
('hidden', 1)
1
('grove', 1)
1
('where', 1)
1
('magical', 2)
2
('tree', 1)
1
('stood,', 1)
1
('its', 1)
1
('leaves', 1)
1
('shimmering', 1)
1
('an', 2)
2
('ethereal', 1)
1
('light.', 1)
1
('tree,', 1)
1
('ancient', 1)
1
('wise,', 1)
1
('granted', 1)
1
('single', 1)
1
('wish.', 1)
1
('wished', 1)
1
('for', 1)
1
('well-being', 1)
1
('of', 2)
2
('all', 2)
2
('creatures,', 1)
1
('instant,', 1)
1
('entire', 1)
1
('flourished', 1)
1
('harmony.', 1)
1
("lily's", 1)
1
('kindness', 1)
1
('had', 2)
2
('not', 1)
1
('only', 1)
1
('healed', 1)
1
('but', 1)
1
('also', 1)
1
('brought', 1)
1
('peace', 1)
1
('hearts', 1)
1
('living', 1)
1
('beings', 1)
1
('her', 1)
1
('town.', 1)
1

In [16]:
Top_5 : dict = dict(sorted(story_dict.items(),key= lambda x: x[1], reverse = True)[:5])
Top_5

{'the': 8, 'a': 7, 'in': 4, 'to': 4, 'with': 4}

### Grade calculator

In [ ]:
print("Enter your name:")
name : str = input()
print("Enter your sub1 score:")
score1 : int = int(input())
print("Enter your sub2 score:")
score2 : int = int(input())
print("Enter your sub3 score:")
score3 : int = int(input())

average_score : float = (score1+score2+score3)/3

grade_outcome : dict = {
    (90<=average_score<100) : "Grade A", (75<=average_score<90) : "Grade B",
    (55<=average_score<75) : "Grade C" , (35<=average_score<55) : "Grade D" ,
    (0<=average_score<35) : "Grade F"
    }

grade_outcome

Enter your name:
stud1
Enter your sub1 score:
98
Enter your sub2 score:
83
Enter your sub3 score:
76

{False: 'Grade F', True: 'Grade B'}

In [ ]:
students_grade_card : dict = {}
for i in range(5):
  print("Enter your name:")
  name : str = input()
  print("Enter your sub1 score:")
  score1 : int = int(input())
  print("Enter your sub2 score:")
  score2 : int = int(input())
  print("Enter your sub3 score:")
  score3 : int = int(input())

  #if score1 or score2 or score3 >100:
    #print("invalid input")
    #return

  average_score : float = (score1+score2+score3)/3

  grade_outcome : dict = {
      (90<=average_score<100) : "Grade A", (75<=average_score<90) : "Grade B",
      (55<=average_score<75) : "Grade C" , (35<=average_score<55) : "Grade D" ,
      (0<=average_score<35) : "Grade F"
      }

  grade : str = grade_outcome[True]

  students_grade_card[name] = {
      "score1": score1, "score2":score2 , "score3":score3,
      "average score" : average_score, "grade" : grade
      }

students_grade_card

Enter your name:
st1
Enter your sub1 score:
89
Enter your sub2 score:
7
Enter your sub3 score:
76
Enter your name:
st2
Enter your sub1 score:
67
Enter your sub2 score:
90
Enter your sub3 score:
94
Enter your name:
st3
Enter your sub1 score:
76
Enter your sub2 score:
56
Enter your sub3 score:
86
Enter your name:
st4
Enter your sub1 score:
96
Enter your sub2 score:
73
Enter your sub3 score:
1
Enter your name:
st5
Enter your sub1 score:
78
Enter your sub2 score:
98
Enter your sub3 score:
90

{'st1': {'score1': 89,
  'score2': 7,
  'score3': 76,
  'average score': 57.333333333333336,
  'grade': 'Grade C'},
 'st2': {'score1': 67,
  'score2': 90,
  'score3': 94,
  'average score': 83.66666666666667,
  'grade': 'Grade B'},
 'st3': {'score1': 76,
  'score2': 56,
  'score3': 86,
  'average score': 72.66666666666667,
  'grade': 'Grade C'},
 'st4': {'score1': 96,
  'score2': 73,
  'score3': 1,
  'average score': 56.666666666666664,
  'grade': 'Grade C'},
 'st5': {'score1': 78,
  'score2': 98,
  'score3': 90,
  'average score': 88.66666666666667,
  'grade': 'Grade B'}}

In [ ]:
import pandas as pd
pd.DataFrame(students_grade_card)

                     st1        st2        st3        st4        st5
score1                89         67         76         96         78
score2                 7         90         56         73         98
score3                76         94         86          1         90
average score  57.333333  83.666667  72.666667  56.666667  88.666667
grade            Grade C    Grade B    Grade C    Grade C    Grade B

In [ ]:
students_grade_card : list = []
for i in range(5):
  print("Enter your name:")
  name : str = input()
  print("Enter your sub1 score:")
  score1 : int = int(input())
  print("Enter your sub2 score:")
  score2 : int = int(input())
  print("Enter your sub3 score:")
  score3 : int = int(input())

  average_score : float = (score1+score2+score3)/3

  grade_outcome : dict = {
      (90<=average_score<100) : "Grade A", (75<=average_score<90) : "Grade B",
      (55<=average_score<75) : "Grade C" , (35<=average_score<55) : "Grade D" ,
      (0<=average_score<35) : "Grade F"
      }

  grade : str = grade_outcome[True]

  students_grade_card.append({"Name" : name,
      "score1": score1, "score2":score2 , "score3":score3,
      "average score" : average_score, "grade" : grade
      })

students_grade_card

Enter your name:
stud1
Enter your sub1 score:
97
Enter your sub2 score:
87
Enter your sub3 score:
79
Enter your name:
stud2
Enter your sub1 score:
96
Enter your sub2 score:
94
Enter your sub3 score:
82
Enter your name:
st3
Enter your sub1 score:
93
Enter your sub2 score:
89
Enter your sub3 score:
76
Enter your name:
st4
Enter your sub1 score:
91
Enter your sub2 score:
86
Enter your sub3 score:
79
Enter your name:
st5
Enter your sub1 score:
93
Enter your sub2 score:
78
Enter your sub3 score:
88

[{'Name': 'stud1',
  'score1': 97,
  'score2': 87,
  'score3': 79,
  'average score': 87.66666666666667,
  'grade': 'Grade B'},
 {'Name': 'stud2',
  'score1': 96,
  'score2': 94,
  'score3': 82,
  'average score': 90.66666666666667,
  'grade': 'Grade A'},
 {'Name': 'st3',
  'score1': 93,
  'score2': 89,
  'score3': 76,
  'average score': 86.0,
  'grade': 'Grade B'},
 {'Name': 'st4',
  'score1': 91,
  'score2': 86,
  'score3': 79,
  'average score': 85.33333333333333,
  'grade': 'Grade B'},
 {'Name': 'st5',
  'score1': 93,
  'score2': 78,
  'score3': 88,
  'average score': 86.33333333333333,
  'grade': 'Grade B'}]

In [ ]:
pd.DataFrame(students_grade_card)

    Name  score1  score2  score3  average score    grade
0  stud1      97      87      79      87.666667  Grade B
1  stud2      96      94      82      90.666667  Grade A
2    st3      93      89      76      86.000000  Grade B
3    st4      91      86      79      85.333333  Grade B
4    st5      93      78      88      86.333333  Grade B

In [ ]:
bool(0)

False

In [ ]:
bool('a')

True

In [ ]:
bool(None)

False

In [ ]:
bool(" ") #string with length 1

True

In [ ]:
bool("") #string of zero length

False